$backgroundcolorheader: #43004E;
$backgroundcolormain: #8600B5;
$backgroundcolorfooter: rgb(255, 255, 255);
$backgroundcolorblanco: whitesmoke;
$backgroundcolortitulojuego:rgb(250, 0, 208);
$backgroundcolordescripciontitulo:  rgb(94, 255, 0);