header{
    background-color: $backgroundcolorheader;
    .kitech{
        display: flex;
        flex-direction: row;
        font-size: 25px;
        font-family: 'Roboto', sans-serif;
        padding-left: 60px;
        position: relative;
        top: -40px;
        color: white;
    }
    .busquedas{
        display: flex;
        flex-direction: row;
        column-gap: 100px;
        font-family: 'Roboto', sans-serif;
        font-size: 30px;
        text-decoration: none;
        justify-content: space-around;
        div{
            a{
                color: rgb(57, 57, 235);
                text-decoration: none;
            }
        }
    }
    .vuelve-inicio{
        color: white;
        font-size: 40px;
        text-decoration: none;
    }
}


